    
    
    
    
    <header class="mainHeader">
         <span class="menubutton" onclick="togglenav()"> &equiv;</span>
        <nav id="nav"   class="hidden mainNav">
        <ul>
          <li><a href="/"><i class="fa-solid fa-house"></i> Home</a></li>
          <li><a href="#CONTACT"><i class="fa-solid fa-envelope"></i> Contact</a></li>
          <li><a href="faq.html" hx-get="components/faq.html" hx-target="main"><i class="fa-solid fa-question-circle"></i> FAQ</a></li>
          <li><a href="about.html" hx-get="components/about.html" hx-target="main"><i class="fa-solid fa-info-circle"></i> About</a></li>
        </ul>
        </nav>
    </header>