header, main, footer{
    background-color: ghostwhite;
    border: 2px solid black;
    margin: 1rem;
}

header, footer{
    padding: 1rem;

}
.textbox, .desc{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


main{
    padding: 5%;
    gap: 20px;
}



.card{
    border: 3px solid darkblue;
    padding: 5px;
}

.imgbox{
    aspect-ratio: 1/1;
    border: 3px solid black;
    background-color: darkslateblue;
    margin: 5px;
    padding: 10px;
    transition: background-color 1s;
}

.imgbox:hover{
    background-color:midnightblue ;
}


.imgbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transform: scale(1);
    transition: transform 1s;
}

.imgbox img:hover{
    transform: scale(1.05)
}

nav{
    padding: 1%;
    display: grid;
    gap: 5%;
    place-items: center;
}

nav a{
    font-family:cursive;
    text-decoration: none; 
    border-radius: 25%;
    transition: background-color 0.4s;
}

nav a:hover{
    background-color: gainsboro;

}





.menuButton{
    font-size: 3rem;
}


.hidden{
    display:none;
}



@media (min-width:600px){

    nav{
        grid-template-columns:repeat(3, 1fr);


    }


    #nav{
        display:grid;
        
    }
    

    .menuButton{
        display: none;
    }


}


@media (min-width:700px){

    main{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    }

}


@media (min-width:900px){

    main{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    }

}

@media (max-width:600px){

    header{
        padding: 0.5rem;
    }

}

html{
scroll-behavior: smooth;
background-color: gainsboro;
}


